.candidate-detail-five-subheader {
	float: left;
	width: 100%;
	position: relative;
	text-align: center;
	padding: 100px 0px 220px 0px;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	margin-bottom: -234px;
}
.candidate-detail-five-subheader h1 {
	font-size: 30px;
	color: #ffffff;
	margin-bottom: 5px;
	display: block;
	position: relative;
}
.careerfy-breadcrumb-style5 {
	display: inline-block;
	position: relative;
}
.careerfy-breadcrumb-style5 ul li {
	float: left;
	list-style: none;
	color: #ffffff;
	padding: 0px 15px;
	position: relative;
}
.careerfy-breadcrumb-style5 ul li a {
	color: #ffffff; }
.careerfy-breadcrumb-style5 ul li:before {
	content: "\f105";
	font-family: FontAwesome;
	position: absolute;
	left: -4px;
	top: 0px;
	color: #ffffff;
}
.careerfy-breadcrumb-style5 ul li:first-child:before {
	display: none; }
.single-candidate .jobsearch-main-content {
	position: relative; }
.careerfy-candidate-info-style5,
.careerfy-candidate-info-style5 figure img {
	float: left;
	width: 100%;
}
.careerfy-candidate-info-style5 {
	padding: 33px 35px 0px 35px;
	background-color: #ffffff;
	border: 1px solid #e2e4e5;
	border-radius: 4px;
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
}
.careerfy-candidate-info-style5 figure {
	float: left;
	width: 135px;
}
.careerfy-candidate-info-style5 figure img {
	border-radius: 100%;
	border: 4px solid #dfe3e8;
}
.careerfy-candidate-info-style5 figure ~ .careerfy-candidate-info-inner-style5 {
	margin-left: 164px; }
.careerfy-candidate-cta-btn {
	float: right;
}
.careerfy-candidate-cta-btn a {
	display: inline-block;
	font-size: 12px;
	padding: 8px 17px;
	line-height: 1;
	border-radius: 4px;
	border: 1px solid;
	margin-left: 6px;
	-webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
         -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
}
.careerfy-candidate-cta-btn a:hover {
	color: #ffffff; }
.careerfy-rating-info-style5 {
	display: inline-block;
	font-size: 18px;
	color: #333333;
	margin-right: 6px;
	margin-top: 19px;
}
.careerfy-candidate-info-inner-style5 h2 {
	font-size: 26px;
	margin: 5px 0px 2px 0px;
}
.careerfy-candidate-info-inner-style5 .careerfy-company-rating {
	margin-top: 21px;
}
.careerfy-candidate-info-inner-style5 small {
	font-size: 14px;
	color: #999999;
	display: block;
	margin-bottom: 5px;
}
.careerfy-candidate-social-links a {
	display: inline-block;
	margin: 5px 5px 0px 0px;
}
.careerfy-candidate-social-links a i {
	color: #375d93;
	font-size: 23px;
}
.careerfy-candidate-social-links a i.careerfy-twitter {
	color: #43afe9; }
.careerfy-candidate-social-links a i.careerfy-linkedin {
	color: #007eb3; }
.careerfy-candidate-social-links a  i.careerfy-google-plus {
	color: #c03600; }
.careerfy-candidate-info-inner-style5 .careerfy-company-rating:before,
.careerfy-candidate-info-inner-style5 .careerfy-company-rating-box:before {
	color: #dddddd;
}
.careerfy-candidate-detail5-tablink {
	float: left;
	width: 100%;
	border-top: 4px double #e6e6e6;
	margin-top: 40px;
}
.careerfy-candidate-detail5-tablink ul li {
	float: left;
	list-style: none;
	padding: 0px 10px;
	line-height: 1;
}
.careerfy-candidate-detail5-tablink ul li:first-child {
	padding-left: 0px; }
.careerfy-candidate-detail5-tablink ul li:last-child {
	padding-right: 0px; }
.careerfy-candidate-detail5-tablink ul li a {
	float: left;
	padding: 28px 0px 28px 0px;
	color: #2a7075;
	font-size: 15px;
	position: relative;
}
.careerfy-candidate-detail5-tablink ul li.active a:before {
	content: '';
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 3px;
}
.careerfy-candidate-box-style5 {
	float: left;
	width: 100%;
	padding: 29px 35px 0px 35px;
    background-color: #ffffff;
    border: 1px solid #e2e4e5;
    border-radius: 4px;
    margin-bottom: 20px;
}
.careerfy-candidate-title-style5 {
    float: left;
    width: 100%;
    margin-bottom: 25px;
}
.careerfy-candidate-title-style5 h2 {
    position: relative;
    font-size: 22px;
    padding-bottom: 6px;
    margin-bottom: 0px;
}
.careerfy-candidate-title-style5 h2:before {
    content: '';
    width: 43px;
    height: 3px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.careerfy-candiate-services-style5 {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
.careerfy-candiate-services-style5 ul li {
	list-style: none;
	margin-bottom: 18px;
	float: none;
	display: inline-block;
	margin-right: -4px;
	vertical-align: top;
}
.careerfy-candiate-services-style5 i {
	display: inline-block;
	font-size: 22px;
	vertical-align: middle;
	margin-right: 15px;
}
.jobsearch-services-text {
	font-size: 16px;
	color: #666666;
	font-weight: 600;
	display: inline-block;
	vertical-align: top;
	width: 80%;
}
.jobsearch-services-text small {
	font-size: 16px;
	font-weight: normal;
	margin-left: 12px;
}
.careerfy-candidate-box-style5 .careerfy-description p {
	margin-bottom: 20px; }
.careerfy-candidate-box-style5 .careerfy-description p:last-child {
	margin-bottom: 10px; }
.careerfy-candidate-education-style5,
.careerfy-candidate-education-info {
	float: left;
	width: 100%;
}
.careerfy-candidate-education-style5 ul li {
	list-style: none;
}
.careerfy-candidate-education-style5 small {
	display: block;
	font-size: 16px;
	color: #333333;
	line-height: 1.3;
	margin-bottom: 7px;
}
.careerfy-candidate-education-style5 span {
	font-size: 18px;
	color: #333333;
	display: block;
	font-weight: 600;
	line-height: 1.3;
	margin-bottom: 2px;
}
.careerfy-candidate-education-style5 p {
	margin-bottom: 0px;
}
.careerfy-candidate-education-info {
	padding-bottom: 15px;
	margin-bottom: 19px;
	border-bottom: 4px double #e6e6e6;
	position: relative;
}
.careerfy-candidate-education-style5 ul li:last-child .careerfy-candidate-education-info {
	border: none;
	padding-bottom: 10px;
}
.careerfy-candidate-education-info:before {
	content: '';
	position: absolute;
	left: -35px;
	top: 0px;
	width: 2px;
	height: 90%;
}
.careerfy-candidate-box-progress {
	float: left;
	width: 100%;
	padding-bottom: 23px;
}
.careerfy-candidate-box-progress .jobsearch_progressbar .title {
	font-size: 16px;
	color: #333333;
	width: 100%;
	margin-bottom: 5px;
}
.careerfy-candidate-box-progress .jobsearch_progressbar .bar-container {
	width: 100%;
}
.careerfy-candidate-box-progress .progress-percent {
	position: absolute;
	right: 0px;
	top: -18px;
	font-size: 16px;
	color: #333333;
	font-weight: 600;
}
.careerfy-candidate-box-progress .jobsearch_progressbar .bar-container:before,
.careerfy-candidate-box-progress .jobsearch_progressbar .bar-container:after,
.careerfy-candidate-box-progress .jobsearch_progressbar .backgroundBar:before,
.careerfy-candidate-box-progress .jobsearch_progressbar .backgroundBar:after {
	display: none;
}
.careerfy-candidate-box-progress .jobsearch_progressbar {
	margin-bottom: 21px; }
.candidate_portfolio_style5 ul li {
	list-style: none;
}
.candidate_portfolio_style5 ul [class*="careerfy-column-"] {
	padding: 0px 1px;
	margin-bottom: 2px;
}
.candidate_portfolio_style5 figure,
.grid-item-thumb small {
	float: left;
	width: 100%;
}
.grid-item-thumb {
	width: 100%;
	height: 187px;
}
.candidate_portfolio_style5 {
	padding-bottom: 38px; }
.candidate_portfolio_style5 figcaption {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.60);
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
         -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
}
.candidate_portfolio_style5 figure:hover figcaption {
	opacity: 1; }
.careerfy-candidate-sidebox-style5 {
	float: left;
	width: 100%;
	padding: 40px;
	background-color: #ffffff;
	border: 1px solid #e2e4e5;
	border-radius: 4px;
	margin-bottom: 20px;
}
.careerfy-candidate-style5-contact-form,
.careerfy-candidate-style5-contact-form ul,
.careerfy-candidate-style5-contact-form ul li,
.careerfy-candidate-style5-contact-form input[type="text"],
.careerfy-candidate-style5-contact-form label,
.careerfy-candidate-style5-contact-form textarea,
.careerfy-candidate-style5-contact-form input[type="submit"],
.careerfy-candidate-style5-contact-form .jobsearch-ct-msg {
	float: left;
	width: 100%;
}
.careerfy-candidate-style5-contact-form ul li {
	list-style: none;
	margin-bottom: 11px;
}
.careerfy-candidate-style5-contact-form ul li:last-child {
	margin-bottom: 0px; }
.careerfy-candidate-style5-contact-form input[type="text"] {
	height: 44px;
	border: 1px solid #e2e2e2;
	border-radius: 4px;
	font-size: 14px;
	color: #999999;
	padding: 6px 20px;
	background-color: #ffffff;
}
.careerfy-candidate-style5-contact-form textarea {
	height: 74px;
	border: 1px solid #e2e2e2;
	border-radius: 4px;
	font-size: 14px;
	color: #999999;
	padding: 6px 20px;
	background-color: #ffffff;
}
.careerfy-candidate-style5-contact-form label {
	font-size: 16px;
	color: #666666;
	font-weight: 600;
	margin-bottom: 2px;
}
.careerfy-candidate-style5-contact-form input[type="submit"] {
	padding: 16px 10px 17px 10px;
	border-radius: 4px;
	border: 1px solid;
	font-size: 16px;
	color: #ffffff;
	line-height: 1;
	margin-top: 9px;
}
.careerfy-candidate-style5-contact-form input[type="submit"]:hover {
	background-color: #ffffff; }
.careerfy-candidate-style5-contact-form .jobsearch-ct-msg {
	background-color: #01e708;
	color: #ffffff;
	padding: 5px 15px;
	margin-top: 15px;
	border-radius: 3px;
}
.careerfy-jobdetail-tags {
	margin-bottom: 35px;
}